<div class="users-container">
<div class="food-recipe-container">
<h2>Food List </h2>
 <%= link_to "Add Food", new_food_path(user_id: current_user.id), class: "btn btn-primary btn-add-food" %>

<table>
<thead>
<tr>
<th>Food</th>
<th>Measurement_unit</th>
<th>Unit price</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<% @foods.each do |food| %>
<tr>
<td> <%= food.name %></td>
<td> <%= food.measurement_unit %></td>
<td>$ <%= food.price %></td>
<td> 
<% if can? :destroy, food %>
<%= button_to "Delete", food, method: :delete, class:"btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %>
<% else %>
Used by other uesrs
<% end %>
</td>
</tr>
<% end %>

</tbody>
</table>
</div>
</div>