<h1>food list </h1>
 <%= link_to "Add Food", new_food_path(user_id: current_user.id), class: "btn btn-primary" %>
<table>
<thead>
<tr>
<th>Food</th>
<th>Measurement_unit</th>
<th>Unit price</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<% @foods.each do |food| %>
<tr>
<td> <%= food.name %></td>
<td> <%= food.measurement_unit %></td>
<td> <%= food.price %></td>
<td> 
<%= button_to "Delete", food, method: :delete, data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>

</tbody>
</table>